<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center text-white">
            <section>
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem officia quia, saepe delectus numquam
                    dolor sapiente autem, rerum fugiat expedita impedit iste tempora recusandae repellendus alias. Natus
                    adipisci reprehenderit officiis tempore! Fuga dolor mollitia provident sit illum omnis esse quis
                    optio, vero a quam eum. Dolor ullam id aut facere!</p>



                <a class="icon-link icon-link-hover animate__animated animate__jello h3"
                    style="--bs-link-hover-color-rgb: 25, 135, 84;"
                    href="https://www.linkedin.com/in/mayra-gonz%C3%A1lez-v/" target="_blank">
                    Linkedin
                    <svg class="bi" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </section>
        </main>

        <%- include('partials/footer.ejs') %>
</body>

</html>