body {
    background-color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
#navegador{
    color: white;
    background-color: black;
}
nav{
    background-color: #e5e5f7;
    background-image:  linear-gradient(135deg, #474444 25%, transparent 25%), linear-gradient(225deg, #474444 25%, transparent 25%), linear-gradient(45deg, #474444 25%, transparent 25%), linear-gradient(315deg, #181818 25%, #e5e5f7 25%);
    background-position:  31px 0, 31px 0, 0 0, 0 0;
    background-size: 62px 62px;
    background-repeat: repeat;
}
.nav-link{
    color: white;
    padding-left: 0.5em;
}
.nav-link:hover{
    color: black;
    background-color: white;
   
}

#pAnimado {
    animation-duration: 3s;
    animation-name: slidein;

}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
